*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --colour-1: #576F72;
    --colour-2: #7D9D9C;
    --colour-3: #E4DCCF;
    --colour-4: #F0EBE3;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-1);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 10;
    font-size: 3rem;
    padding: 20px;
}

body {
    background-color: var(--colour-3);
}


.game-message {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    padding: 35px;
}

.board {
    display: grid;
    max-width: 500px;
    height: 500px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid;
    margin: 0 auto;
}

.cell {
    font-size: 6rem;
    border: 1px solid;
    border-radius: 0;
    background-color: var(--colour-4);
}

.cell:hover {
    background-color: #7D9D9C80;
}